<div class="card" style="width: 30rem;">
  <h5 class="card-header text-center">Customer Registration</h5>
  <div class="card-body" style="width: 25rem;">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <mat-error *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Account No</mat-label>
        <input type="text" matInput (keypress)="keyPressNumbers($event)" matInput formControlName="accno"
          [ngClass]="{ 'is-invalid': submitted && f.accno.errors }" />
        <mat-error *ngIf="submitted && f.accno.errors" class="invalid-feedback">
          <div *ngIf="f.accno.errors.required">Acc No is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input type="text" formControlName="address" matInput
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <mat-error *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input type="text" matInput (keypress)="keyPressNumbers($event)" formControlName="phone"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />

        <mat-error *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Phone Number is required</div>

        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </mat-error>
      </mat-form-field>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input type="password" formControlName="confirmPassword" matInput
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class=" text-center">
        <button class="btn btn-primary mr-1" mat-raised-button color="primary">Register</button>
        <button class="btn btn-secondary" type="reset" mat-raised-button color="warn" (click)="onReset()">Reset</button>
      </div>
      <div class=" text-center">
        <p class="message">Already registered? <a (click)="gotologin()">Login</a></p>
      </div>
    </form>
  </div>
</div>